@{
    var userName = ViewContext.HttpContext.User.Identity?.Name;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous"><!--end::Fonts--><!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css" integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous"><!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css" integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=" crossorigin="anonymous"><!--end::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="/formhelper/formhelper.min.css"/>
    <link rel="stylesheet" href="~/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/plugins/animate.css">
    <link rel="stylesheet" href="~/css/plugins/slick.css">
    <link rel="stylesheet" href="~/css/plugins/odometer.css">
    <link rel="stylesheet" href="~/css/plugins/lightgallery.min.css">
    <link rel="stylesheet" href="~/css/plugins/jquery.timepicker.min.css">
    <link rel="stylesheet" href="~/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/css/plugins/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
    <link rel="stylesheet" href="~/css/adminlte.css">
    <link rel="stylesheet" href="/lib/DataTables/datatables.min.css">
    <style>
    /*Container, container body, iframe*/
    .tox-tinymce, .tox-container-body, #code_ifr {
        min-height: 100% !important;
    }
    /*Container body*/
    .tox-container-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    /*Editing area*/
    .tox-container-body .mce-edit-area {
        position: absolute;
        top: 69px;
        bottom: 37px;
        left: 0;
        right: 0;
    }
    /*Footer*/
    .tox-tinymce .mce-statusbar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .dataTables_scrollBody, .dataTables_wrapper {
        position: static !important;
    }
    
    </style>
    @* <script src="https://cdn.tiny.cloud/1/54nys3nismliwtbpujmtepqpxgy6n9qfle5vpce1fo3m0gke/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> *@
    @await RenderSectionAsync("header", required: false)
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<!--begin::App Wrapper-->
<div class="app-wrapper">
<!--begin::Header-->
<nav class="app-header navbar navbar-expand bg-body">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Start Navbar Links-->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul> <!--end::Start Navbar Links-->
        <ul class="navbar-nav ms-auto">
            <!--begin::Navbar Search-->
            <!--begin::Fullscreen Toggle-->
            <li class="nav-item">
                <a class="nav-link" href="#" data-lte-toggle="fullscreen">
                    <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i> <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none;"></i>
                </a>
            </li> <!--end::Fullscreen Toggle--> <!--begin::User Menu Dropdown-->
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <span class="d-none d-md-inline">@userName</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                    <!--begin::User Image-->
                    <!--begin::Menu Footer-->
                    <li class="user-footer">
                        <a href="#" class="btn btn-default btn-flat float-end">Çıkış</a>
                    </li> <!--end::Menu Footer-->
                </ul>
            </li> <!--end::User Menu Dropdown-->
        </ul> <!--end::End Navbar Links-->
        <!--begin::End Navbar Links-->
    </div>
</nav>

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="/" class="brand-link">
            <!--begin::Brand Image-->
            <img src="/img/logo.svg" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text-->
            <span class="brand-text text-wrap text-center fs-6 fw-light">Hacettepe Üniversitesi Hastaneleri</span> <!--end::Brand Text-->
        </a> <!--end::Brand Link-->
    </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>
                            Kullanıcı İşlemleri
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/users/list" class="nav-link active">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Kullanıcı Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/users/create" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Kullanıcı Ekleme</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            İçerikler
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/pages/list" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>İçerik Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/pages/create" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>İçerik Oluşturma</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Haber/Duyurular
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/news/list" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Haber/Duyuru Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/news/create" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Yeni Haber/Duyuru</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Menü
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/menuitems/list" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Menü Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/menuitems/create" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Yeni Menü Oluştur</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Doktorlar
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/doctors/list" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Doktor Listesi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/doctors/create" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Yeni Doktor Oluştur</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/audits/list" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Denetim Günlükleri
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">@ViewBag.Title</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @ViewBag.Title
                        </li>
                    </ol>
                </div>
            </div> <!--end::Row-->
        </div> <!--end::Container-->
    </div> <!--end::App Content Header--> <!--begin::App Content-->
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            @RenderBody()
        </div>
    </div>
</main>
</div>
<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/browser/overlayscrollbars.browser.es6.min.js" integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous"></script> <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script> <!--end::Required Plugin(popperjs for Bootstrap 5)--><!--begin::Required Plugin(Bootstrap 5)-->
<script src="~/js/adminlte.js"></script> <!--end::Required Plugin(AdminLTE)--><!--begin::OverlayScrollbars Configure-->
<script>
        const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
        const Default = {
            scrollbarTheme: "os-theme-light",
            scrollbarAutoHide: "leave",
            scrollbarClickScroll: true,
        };
        document.addEventListener("DOMContentLoaded", function() {
            const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
            if (
                sidebarWrapper &&
                typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
            ) {
                OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                    scrollbars: {
                        theme: Default.scrollbarTheme,
                        autoHide: Default.scrollbarAutoHide,
                        clickScroll: Default.scrollbarClickScroll,
                    },
                });
            }
        });
    </script> <!--end::OverlayScrollbars Configure--> <!-- OPTIONAL SCRIPTS --> <!-- sortablejs -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" integrity="sha256-ipiJrswvAR4VAx/th+6zWsdeYmVae0iJuiR+6OqHJHQ=" crossorigin="anonymous"></script> <!-- sortablejs -->
<script>
        const connectedSortables =
            document.querySelectorAll(".connectedSortable");
        connectedSortables.forEach((connectedSortable) => {
            let sortable = new Sortable(connectedSortable, {
                group: "shared",
                handle: ".card-header",
            });
        });

        const cardHeaders = document.querySelectorAll(
            ".connectedSortable .card-header",
        );
        cardHeaders.forEach((cardHeader) => {
            cardHeader.style.cursor = "move";
        });
    </script> <!-- apexcharts -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="/formhelper/formhelper.bundle.min.js"></script>
<script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<script type="text/javascript"> 
    $.validator.setDefaults({
            errorClass: "",
            validClass: "",
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
                $(element.form).find("[data-valmsg-for=" + element.name + "]").addClass("invalid-feedback");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).addClass("is-valid").removeClass("is-invalid");
                $(element.form).find("[data-valmsg-for=" + element.name + "]").removeClass("invalid-feedback");
            },
        });
    </script>
<partial name="_ActionColumn"/>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>