@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Hacettepe.Application.Doctors.Edit.SaveDoctorRequest;

@{
    var title = Model.Id == 0 ? "Yeni Doctor Oluşturma" : "Doctor Güncelleme";
    ViewBag.Title = title;
    Layout = "_Layout";
}
<div class="row">
    <form method="POST" asp-formhelper="true" asp-area="Admin" asp-action="Save" asp-controller="Users" autocomplete="off">
        @Html.HiddenFor(model => model.Id)
        <div class="mb-3">
            <label for="doctor_name" class="form-label">Adı</label>
            <input id="doctor_name" type="text" class="form-control" asp-for="Name" value="@Model.Name" autofocus>
            <span class="invalid-feedback" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label for="doctor_image" class="form-label">Resim Url</label>
            <input id="doctor_image" type="text" class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl" autofocus>
            <span class="invalid-feedback" asp-validation-for="ImageUrl"></span>
        </div>
        <div class="mb-3">
            <label for="doctor_title" class="form-label">Ünvan</label>
            <input id="doctor_title" type="text" class="form-control" asp-for="Title" value="@Model.Title">
            <span class="invalid-feedback" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label for="doctor_department" class="form-label">Bölüm</label>
            <input id="doctor_department" type="text" class="form-control" asp-for="Department" value="@Model.Department">
            <span class="invalid-feedback" asp-validation-for="Department"></span>
        </div>
        <div class="mb-3">
            <label for="doctor_specialty" class="form-label">Uzmanlık</label>
            <input id="doctor_specialty" type="text" class="form-control" asp-for="Specialty" value="@Model.Specialty">
            <span class="invalid-feedback" asp-validation-for="Specialty"></span>
        </div>
        <div id="gjs"></div>
        <div class="col-lg-12">
            <div class="cs_height_18"></div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success"><i class="bi bi-save"></i> Kaydet</button>
            </div>
        </div>
    </form>
</div>

@Html.RenderPartialAsync("_Editor")